.image {
    width: 150px;
}
.entete{
    font-family: verdana; 
    padding-top :           00px;
    height:         300px;
    background-color:   #b4b4b4;
}

.img{
    text-align: right;
}

.Experience{
    text-align: center;
    font-family: verdana; 
}



